/* Whole webpage */
body {
    background-color:lightslategrey;
}

/* Title block */
.title {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: darkslategrey;
}

/* Subtitle block */
.subtitle {
    display: flex;
    justify-content:center;
    align-items: center;
}

/* RPS button area */
.rps-buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
}

#rock {
    background-color: transparent;
}

#paper {
    background-color: transparent;
}

#scissors {
    background-color: transparent;
}

img {
    width: 150px;
    height: 150px;
    background-color: transparent;
    position: relative;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: all .3s;
}

/* Results area */
.results {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score > #playerScore {
    margin-right: 50px;
}
